<div class="footer-nav-area" id="footerNav">
    <div class="container h-100 px-0">
      <div class="KukiesMall-footer-nav h-100">
        <ul class="h-100 d-flex align-items-center justify-content-between">
          <li class="active"><a href="index.html"><i class="lni-home"></i>Home</a></li>
          <li><a href="africa.html"><i class="lni-world"></i>Gist</a></li>
          <li><a href="message.html"><i class="lni-support"></i>Questions</a></li>
          <!-- <li><a href="pages.html"><i class="lni-heart"></i>Pages</a></li> -->
          <li><a href="settings.html"><i class="lni-cog"></i>Settings</a></li>
        </ul>
      </div>
    </div>
  </div>